.nobootstrap{
    padding-right: 80px !important;
    padding-left: 80px !important;
}

.boton{
    font-weight: 600;
    white-space: nowrap;
    border-width: 1px;
    border-radius: 4px;
    display: inline-block;
    font-weight: 600;
    color: #363a41;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 4px;
    -webkit-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;

}

.boton-primary{
    color: #fff;
    background-color: #25b9d7;
    border-color: #25b9d7;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* tabla */

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

/* ---- */

.boton-icon{
    padding: 7px;
    border-radius: 5px;
    display: table;
    margin-left: auto;
    margin-right: auto;

}

.boton-icon > svg{
    width: 20px;
    height: 20px;
    margin: 5px;
}

.boton-icon-editar{
    background-color: green;
}

.boton-icon-eliminar{
    background-color: red;
}

.mb-15{
    margin-bottom: 15px;
}

/* campos formulario */

.input-text{
    display: block;
    width: 100%;
    height: 39px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.42857;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #bbcdd2;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    -webkit-transition: border-color ease-in-out 0.15s,-webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s,-webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s,-webkit-box-shadow ease-in-out 0.15s;
}