.nobootstrap{
    padding-right: 80px !important;
    padding-left: 80px !important;
}

.mb-15{
    margin-bottom: 15px !important;
}

.producto_tabla_td_pdd_tb{
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}

.producto_centrar_checkbox_tabla_celda{
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    cursor: pointer;
}

.centrar-columnas{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
}
.justify-content-end{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: end;
}
.vistaInicial{
    position: relative;
    min-height: 100%;
}


.contenedorVistaSubirProductos{
    /* background-color: rgba(29, 28, 28, 0.479); */
    display: none;
}

.mostrarVista{
   display: block ;
}

.ocultar{
    display: none;
}

.vistaSubirProductos{
    width: 70%;
    height: 450px;
    background-color: #363a41;
    position: fixed;
    padding-top: 70px;
    border-radius: 20px;
}


.icon-x-modal-subir-producto{
    position: absolute;
    top: 25px;
    right: 25px;
}

.icon-x-modal-subir-producto{
    cursor: pointer;
    color:#FFF;
}

.icon-x-modal-subir-producto:hover{
     color:red;
}

.icon-x-modal-subir-producto > svg{
    width: 25px;
    height: 25px;
}
.centrar-texto{
    text-align: center;
}
