a:focus {
    outline: none !important;
}

.input-tb{
    padding: 8px 16px;
    width: 100%;
    height: 39px;
    border: 1px solid #bbcdd2;
    border-radius: 5px;
}
.input-tb:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}
.alignitem-tb {
    align-items: center;
    display: flex;
}
/* global; */
.flex-wrap {
    flex-wrap: wrap;
    display: flex;
}
.justify-end-flex{
    display: flex;
    justify-content: end;
}
.is-flex{
    display: flex;
}
.is-relative{
    position: relative;
}
.is-absolute{
    position: absolute;
}
.m-auto{
    margin: auto !important;
}
.m-0{
    margin: 0px !important;
}
.mx{
    margin: 0px 30px;
}
.mt{
    margin-top: 10px;
}
.mb{
    margin-bottom: 10px;
}
.mr{
    margin-right: 10px;
}
.ml{
    margin-left: 10px;
}
.p-0{
    padding: 0px !important;
}
.p-5{
    padding-top: 5px;
}
.p-10{
    padding-top: 10px;
}
.p-20{
    padding-top: 20px;
}
.px-10{
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.txt-title{
    font-size: 15px;
    line-height: 1.33;
}
.global-input input{
    height: 35px !important;
}
.w20{
    width: 20px;
}
.h35{
    height: 35px !important;
}
.jt-center{
    justify-content: center;
    display: flex;
}

/* Credenciales */
 #fieldset_0 .form-wrapper .form-group label.control-label {
    width: 17% !important;
    text-align: left !important;
}
#fieldset_0 .form-wrapper .form-group label.required::before {
    display: none !important;
}
#fieldset_0 .form-wrapper .form-group .col-lg-8{
    width: 40% !important;
    display: flex;
    flex-wrap: wrap;
}
#fieldset_0 .form-wrapper .form-group .col-lg-8 .radio.t {
    width: 40% !important;
}
#fieldset_0 .form-wrapper .form-group .col-lg-8 .radio.t label{
    display: flex;
    align-items: center;
}
#fieldset_0 .form-wrapper .form-group .col-lg-8 .radio.t input[type="radio"] {
    content: "";
    width: 26px;
    height: 26px;
    border: 8px solid #66afe9;
    float: left;
    margin-right: 10px;
}
#fieldset_0 .documento-input label{
    padding-left: 0px !important;
}
#fieldset_0 .documento-input input{
    margin-right: 10px !important;
}


/* carrusel */
.slick-list{
    width: 80%;
    overflow: hidden;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.slick-track{
    display: flex;
}
.aj-img{
    height: 70px;
    width: 160px; 
}
.slick-arrow {
    position: absolute;
    bottom: 40%;
    z-index: 15;
    padding: 5px !important;
}
.prev-arrow{
    left: 7%;
}
.next-arrow{
    right: 7%;
}
.date-style::placeholder {
    color: black;
    font-size: 0.9rem;
    text-align: center;
}
.slick-slide label.btn{
    margin: auto !important;
    height: 70px !important;
    font-size: 1.5rem !important;
    padding: 0px 20px !important;
    line-height: 1 !important;
    min-width: 150px;
    width: auto;
}
.slick-slide{
    display: flex;
    justify-content: center;
}
/* Preloader */
.fat-pre{
    width: auto;
    min-width: 100%;
    height: 100vh;
    position: absolute;
    top: 40px;
    opacity: 0;
    transition: 0.6s;
    transition-timing-function: ease-out;
    pointer-events: none;
    z-index: 99;

    left: 0;
    bottom: 0;
}
.pre-loader{
    transition: 0.6s;
    background: #EFF1F2;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pre-loader div {
    width: 16px;
    height: 32px; 
    margin-left: 10px;
    animation: prealoader 1.2s infinite;
}
@keyframes prealoader {
    50%{
        height: 64px;
    }    
}
.pre-loader div:nth-child(1){
    background: #25B9D7;
    animation-delay: -0.40s;
}
.pre-loader div:nth-child(2){
    background: #1da5c0;
    animation-delay: -0.20s;
}
.pre-loader div:nth-child(3){
    background: #0d8aa3;
    animation-delay: 0s;
}

 

/* modificar producto */
.wrapp_search_category{
    display: inline-block;
}
.search_category {
    font-size: 13px !important;
    display: inline-block !important;
    height: 38px !important;
    line-height: 4 !important;
    margin-top: 10px;
}
.tab_container .tabs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
}
.tab_container .tabs li {
    float: left;
    padding: 10px;
    line-height: 30px;
    color: #333333;
    font: 400 13px/1.42857 "Open Sans",Helvetica,Arial,sans-serif;
    text-transform: capitalize;
    cursor: pointer;
    position: relative;
    z-index: 2;
    width: 100%;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}
.custom_bootstrap .panel .panel-heading {
    font-family: "Ubuntu Condensed",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #555;
    height: auto;
    margin: 0;
}
.tab_container {
    overflow: hidden;
    margin-top: -25px;
}

#content.bootstrap input, #content.bootstrap button, #content.bootstrap textarea, #content.bootstrap select {
    font-family: "Open Sans",helvetica,arial,sans-serif;
}
.custom_bootstrap input, .custom_bootstrap select, .custom_bootstrap label, .custom_bootstrap button:not(.dropdown-toggle), .custom_bootstrap textarea, .wrap_file_input, #content .alert, .alert {
    margin-top: 15px;
}
.bootstrap input, .bootstrap button, .bootstrap select, .bootstrap textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.tab-menu {
    float: left;
    padding: 10px 15px;
    line-height: 30px;
    font-size: 18px !important;
    background-color: #2789AD;
    border-bottom: 2px solid #ccc;
    font-weight: bold;
    color: #fff;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    z-index: 2;
    width: 100%;
    text-align: left;
    display: none;
    margin: 0 !important;
}
.custom_bootstrap .panel .panel-heading {
    font-family: "Ubuntu Condensed",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #555;
    height: auto;
    margin: 0;
}

/* paginacion */
.estructura-paginador{
    display: inline-flex;
    padding-top: 60px;
}
.lista-pagina{
    margin: 0px 10px;
}
.lista-paginas button{
    color: #25b9d7;
}
.estructura-paginador button{
    height: 35px;
    font-size: 0.9rem;
    color: #25b9d7;
    border: 0;
}
.ultima-pagina{
    margin-left: 14px;
    position: relative;
}
.ultima-pagina::after{
    content: '...';
    left: -11px;
    bottom: 6px;
    position: absolute;
    font-size: 1.3rem;
}
.primera-pagina{
    margin-right: 14px;
    position: relative;
}
.primera-pagina::after{
    content: '...';
    right: -11px;
    bottom: 6px;
    position: absolute;
    font-size: 1.3rem;
}


/* bootstrap */
#fieldset_0 .form-wrapper .form-group label.control-label {
    width: 17% !important;
    text-align: left !important;
}
#fieldset_0 .form-wrapper .form-group label.required::before {
    display: none !important;
}
#fieldset_0 .form-wrapper .form-group .col-lg-9{
    width: 40% !important;
    display: flex;
    flex-wrap: wrap;
}
#fieldset_0 .form-wrapper .form-group .col-lg-9 .radio.t {
    width: 40% !important;
}
#fieldset_0 .form-wrapper .form-group .col-lg-9 .radio.t label{
    display: flex;
    align-items: center;
}
#fieldset_0 .form-wrapper .form-group .col-lg-9 .radio.t input[type="radio"] {
    content: "";
    width: 26px;
    height: 26px;
    border: 8px solid #66afe9;
    float: left;
    margin-right: 10px;
}

.bootstrap .form-control, .bootstrap input[type="text"], .bootstrap input[type="search"], .bootstrap input[type="password"], .bootstrap textarea, .bootstrap select {
    display: block;
    width: 100%;
    height: 39px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.42857;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #bbcdd2;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    -webkit-transition: border-color ease-in-out 0.15s,-webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s,-webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s,-webkit-box-shadow ease-in-out 0.15s;
}
.bootstrap .btn-primary:hover, .bootstrap .panel .panel-footer .btn.pull-right:hover, .bootstrap #dash_version .panel-footer .btn.pull-right:hover, .bootstrap .message-item-initial .message-item-initial-body .panel-footer .btn.pull-right:hover, .bootstrap .timeline .timeline-item .timeline-caption .timeline-panel .panel-footer .btn.pull-right:hover {
    color: #fff;
    background: #7cd5e7;
    border-color: #7cd5e7;
}
#content.bootstrap input, #content.bootstrap button, #content.bootstrap textarea, #content.bootstrap select {
    font-family: "Open Sans",helvetica,arial,sans-serif;
}
.bootstrap .panel .panel-footer .btn i, .bootstrap #dash_version .panel-footer .btn i, .bootstrap .message-item-initial .message-item-initial-body .panel-footer .btn i, .bootstrap .timeline .timeline-item .timeline-caption .timeline-panel .panel-footer .btn i {
    display: none;
}
.bootstrap .panel .panel-footer .btn, .bootstrap #dash_version .panel-footer .btn, .bootstrap .message-item-initial .message-item-initial-body .panel-footer .btn, .bootstrap .timeline .timeline-item .timeline-caption .timeline-panel .panel-footer .btn {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
}
.bootstrap .btn.btn-default, #content.bootstrap .panel .panel-heading>.btn-group .btn.btn-default, #content.bootstrap #dash_version .panel-heading>.btn-group .btn.btn-default, #content.bootstrap .message-item-initial .message-item-initial-body .panel-heading>.btn-group .btn.btn-default, #content.bootstrap .timeline .timeline-item .timeline-caption .timeline-panel .panel-heading>.btn-group .btn.btn-default, .bootstrap .table .btn-group-action a.btn, .bootstrap .table .btn-group-action button.btn, .bootstrap .table .btn-group a.btn, .bootstrap .table .btn-group button.btn, .bootstrap .btn.btn-default i, #content.bootstrap .panel .panel-heading>.btn-group .btn.btn-default i, #content.bootstrap #dash_version .panel-heading>.btn-group .btn.btn-default i, #content.bootstrap .message-item-initial .message-item-initial-body .panel-heading>.btn-group .btn.btn-default i, #content.bootstrap .timeline .timeline-item .timeline-caption .timeline-panel .panel-heading>.btn-group .btn.btn-default i, .bootstrap .table .btn-group-action a.btn i, .bootstrap .table .btn-group-action button.btn i, .bootstrap .table .btn-group a.btn i, .bootstrap .table .btn-group button.btn i {
    color: #6c868e;
    -webkit-transition: 0.25s ease-out;
    transition: 0.25s ease-out;
}
.bootstrap .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-transition: .25s ease-out;
    transition: .25s ease-out;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.bootstrap .btn {
    font-weight: 600;
    white-space: normal;
}
.bootstrap .btn.btn-default, #content.bootstrap .panel .panel-heading>.btn-group .btn.btn-default, #content.bootstrap #dash_version .panel-heading>.btn-group .btn.btn-default, #content.bootstrap .message-item-initial .message-item-initial-body .panel-heading>.btn-group .btn.btn-default, #content.bootstrap .timeline .timeline-item .timeline-caption .timeline-panel .panel-heading>.btn-group .btn.btn-default, .bootstrap .table .btn-group-action a.btn, .bootstrap .table .btn-group-action button.btn, .bootstrap .table .btn-group a.btn, .bootstrap .table .btn-group button.btn, .bootstrap .btn.btn-default i, #content.bootstrap .panel .panel-heading>.btn-group .btn.btn-default i, #content.bootstrap #dash_version .panel-heading>.btn-group .btn.btn-default i, #content.bootstrap .message-item-initial .message-item-initial-body .panel-heading>.btn-group .btn.btn-default i, #content.bootstrap .timeline .timeline-item .timeline-caption .timeline-panel .panel-heading>.btn-group .btn.btn-default i, .bootstrap .table .btn-group-action a.btn i, .bootstrap .table .btn-group-action button.btn i, .bootstrap .table .btn-group a.btn i, .bootstrap .table .btn-group button.btn i {
    color: #6c868e;
    -webkit-transition: 0.25s ease-out;
    transition: 0.25s ease-out;
}
.bootstrap .panel .panel-footer .btn.pull-right, .bootstrap #dash_version .panel-footer .btn.pull-right, .bootstrap .message-item-initial .message-item-initial-body .panel-footer .btn.pull-right, .bootstrap .timeline .timeline-item .timeline-caption .timeline-panel .panel-footer .btn.pull-right {
    text-transform: none !important;
}
.bootstrap .btn-primary, .bootstrap .panel .panel-footer .btn.pull-right, .bootstrap #dash_version .panel-footer .btn.pull-right, .bootstrap .message-item-initial .message-item-initial-body .panel-footer .btn.pull-right, .bootstrap .timeline .timeline-item .timeline-caption .timeline-panel .panel-footer .btn.pull-right {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    background: #25b9d7;
    border-color: #25b9d7;
}

.bootstrap h1, .bootstrap h2, .bootstrap h3, .bootstrap h4, .bootstrap h5, .bootstrap h6, .bootstrap .h1, .bootstrap .h2, .bootstrap .h3, .bootstrap .h4, .bootstrap .h5, .bootstrap .h6 {
    font-family: "Open Sans",helvetica,arial,sans-serif;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
}



/* product */
.result-produt-one{
    background: rgba(0,0,0, 0.1);
    padding: 10px;
    height: 80px;
    overflow: hidden;
}
.result-produt-one.active{
    height: auto !important;
}
.caj-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inf-product select,
input{
    margin: 0 !important;
}
.btn-inf-product {
    font-size: 13px !important;
    padding: 0px 10px !important;
    bottom: -38px !important;
    right: -7px !important;
    position: absolute !important;
}
.modal-tr{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #7CD5E7 !important;
    padding-bottom: 3px;
    margin-bottom: 10px;
}
.modal-tr-2{
    padding-bottom: 3px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #7CD5E7 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.input-tb.pais-price{
    padding: 10px 5px !important;
    width: 50px !important;
}
.text-font-10{
    font-size: 10px;
}

/* .vista-2{
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
    z-index: 0;
}
.vista-2 .slider-pais{
    height: 0;
}
.vista-2 .is-flex{
    display: none;
}
.is-close{
    opacity: 0;
    width: 0 !important;
    height: 0 !important;
    pointer-events: none;
    z-index: 0;
    position: absolute;
}
.is-active{
    opacity: 1;
    width: auto;
    height: auto;
    pointer-events: auto;
    z-index: 2;
}
.vista-2.is-active .is-flex{
    display: block;
} */