.input-tb{
    padding: 8px 16px;
    width: 100%;
    height: 39px;
    border: 1px solid #bbcdd2;
    border-radius: 5px;
}
.input-tb:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}
.alignitem-tb {
    align-items: center;
    display: flex;
}
.m-auto{
    margin: auto !important;
}
.mx{
    margin: 0px 30px;
}
.p-5{
    padding-top: 5px;
}
.p-10{
    padding-top: 10px;
}
.p-20{
    padding-top: 20px;
}
.px-10{
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.txt-title{
    font-size: 15px;
    line-height: 1.33;
}
.global-input input{
    height: 35px !important;
}
.w20{
    width: 20px;
}
.h35{
    height: 35px !important;
}
.jt-center{
    justify-content: center;
    display: flex;
}
/* Credenciales */
 #fieldset_0 .form-wrapper .form-group label.control-label {
    width: 17% !important;
    text-align: left !important;
}
#fieldset_0 .form-wrapper .form-group label.required::before {
    display: none !important;
}
#fieldset_0 .form-wrapper .form-group .col-lg-8{
    width: 40% !important;
    display: flex;
    flex-wrap: wrap;
}
#fieldset_0 .form-wrapper .form-group .col-lg-8 .radio.t {
    width: 40% !important;
}
#fieldset_0 .form-wrapper .form-group .col-lg-8 .radio.t label{
    display: flex;
    align-items: center;
}
#fieldset_0 .form-wrapper .form-group .col-lg-8 .radio.t input[type="radio"] {
    content: "";
    width: 26px;
    height: 26px;
    border: 8px solid #66afe9;
    float: left;
    margin-right: 10px;
}

/* carrusel */
.slick-list{
    width: 100%;
    overflow: hidden;
}
.slick-track{
    display: flex;
}

.aj-img{
    height: 70px;
    width: 160px; 
}

.right.carousel-control{
    margin-right: -35px !important;
}
.left.carousel-control{
    margin-left: -35px !important; 
}
