.console-log{
    border: 1px solid aqua;
}

.console-log-2{
    border: 1px solid green;
}

.margin-0{
    margin: 0 !important;
}

.contenedor_producto_backend{
    background-color: #fff;
    width: 100%;
    border-bottom: 3px solid #eff1f2;
    margin-bottom: 5px;
    /* height: 100px; */
}

.preview-info-producto{
    background-color: #fff;
    height: 130px;
}

.contenedor-check-envio, .contenedor-nombre-producto, .contenedor-toggle-producto{
    height: 130px;
}

.contenedor-nombre-producto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.contenedor-toggle-producto,.contenedor-check-envio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contenedor-check-envio svg{
    width: 20px;
    height: 20px;
    color:#111;
    cursor: pointer;
}

.checked-false{
    width: 20px;
    height: 20px;
    border: 2px solid #111;
    cursor: pointer;
    border-radius: 2px;
}

.contenedor-toggle-producto svg{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.contenedor-formulario-producto{
    background-color: #eff1f2;
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.ocultar{
    display: none !important;
}

.imagen-producto{
    width: 90px;
    height: 100px;
    margin-right: 20px !important;
}

/* Select multuple*/
.class-select{
    width: 100% !important;
    border: 0 !important;
    min-height: 100px !important;
    max-height: 100px;
    overflow-y: scroll;
    -webkit-clip-path: inset(0 15px 0 0);
    clip-path: inset(0 18px 0 0);
    margin: 0;
    padding: 0 !important;
    border: 2px solid #bbcdd2 !important;
}
.class-select option{
    white-space: initial;
    color: #8B8B8B !important;
    font-size: 13px;
    padding: 10px !important;
    padding-left: 15px !important;
    width: 100% !important;
}
