.input-tb{
    padding: 8px 16px;
    width: 100%;
    height: 39px;
    border: 1px solid #bbcdd2;
    border-radius: 5px;
}
.input-tb:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}

/* global; */
.alignitem-tb {
    align-items: center;
    display: flex;
}
.m-auto{
    margin: auto !important;
}
.m-0{
    margin: 0px !important;
}
.mx{
    margin: 0px 30px;
}
.mt{
    margin-top: 10px;
}
.mb{
    margin-bottom: 10px;
}
.mr{
    margin-right: 10px;
}
.ml{
    margin-left: 10px;
}
.p-0{
    padding: 0px !important;
}
.p-5{
    padding-top: 5px;
}
.p-10{
    padding-top: 10px;
}
.p-20{
    padding-top: 20px;
}
.px-10{
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.txt-title{
    font-size: 15px;
    line-height: 1.33;
}
.global-input input{
    height: 35px !important;
}
.w20{
    width: 20px;
}
.h35{
    height: 35px !important;
}
.jt-center{
    justify-content: center;
    display: flex;
}

/* Credenciales */
 #fieldset_0 .form-wrapper .form-group label.control-label {
    width: 17% !important;
    text-align: left !important;
}
#fieldset_0 .form-wrapper .form-group label.required::before {
    display: none !important;
}
#fieldset_0 .form-wrapper .form-group .col-lg-8{
    width: 40% !important;
    display: flex;
    flex-wrap: wrap;
}
#fieldset_0 .form-wrapper .form-group .col-lg-8 .radio.t {
    width: 40% !important;
}
#fieldset_0 .form-wrapper .form-group .col-lg-8 .radio.t label{
    display: flex;
    align-items: center;
}
#fieldset_0 .form-wrapper .form-group .col-lg-8 .radio.t input[type="radio"] {
    content: "";
    width: 26px;
    height: 26px;
    border: 8px solid #66afe9;
    float: left;
    margin-right: 10px;
}

/* carrusel */
.slick-list{
    width: 80%;
    overflow: hidden;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.slick-track{
    display: flex;
}
.aj-img{
    height: 70px;
    width: 160px; 
}
.slick-arrow {
    position: absolute;
    bottom: 40%;
    z-index: 15;
    padding: 5px !important;
}
.prev-arrow{
    left: 7%;
}
.next-arrow{
    right: 7%;
}
.date-style::placeholder {
    color: black;
    font-size: 0.9rem;
    text-align: center;
}


/* modificar producto */

.wrapp_search_category{
    display: inline-block;
}
.search_category {
    font-size: 13px !important;
    display: inline-block !important;
    height: 38px !important;
    line-height: 4 !important;
    margin-top: 10px;
}
.tab_container .tabs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
}
.tab_container .tabs li {
    float: left;
    padding: 10px;
    line-height: 30px;
    color: #333333;
    font: 400 13px/1.42857 "Open Sans",Helvetica,Arial,sans-serif;
    text-transform: capitalize;
    cursor: pointer;
    position: relative;
    z-index: 2;
    width: 100%;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}
.custom_bootstrap .panel .panel-heading {
    font-family: "Ubuntu Condensed",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #555;
    height: auto;
    margin: 0;
}
.tab_container {
    overflow: hidden;
    margin-top: -25px;
}

#content.bootstrap input, #content.bootstrap button, #content.bootstrap textarea, #content.bootstrap select {
    font-family: "Open Sans",helvetica,arial,sans-serif;
}
.custom_bootstrap input, .custom_bootstrap select, .custom_bootstrap label, .custom_bootstrap button:not(.dropdown-toggle), .custom_bootstrap textarea, .wrap_file_input, #content .alert, .alert {
    margin-top: 15px;
}
.bootstrap input, .bootstrap button, .bootstrap select, .bootstrap textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.tab-menu {
    float: left;
    padding: 10px 15px;
    line-height: 30px;
    font-size: 18px !important;
    background-color: #2789AD;
    border-bottom: 2px solid #ccc;
    font-weight: bold;
    color: #fff;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    z-index: 2;
    width: 100%;
    text-align: left;
    display: none;
    margin: 0 !important;
}
.custom_bootstrap .panel .panel-heading {
    font-family: "Ubuntu Condensed",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #555;
    height: auto;
    margin: 0;
}